.reveal h2{
  font-size: 1.8em;
  font-weight: bold;
  color: #31538F;
}
.reveal h3{
  font-size: 1em;
  font-weight: bold;
}
.reveal p{
  font-size: 0.75em;
  text-align: left;
}
.reveal .text-blue {
  color: #31538F;
}

div.slide-background.mainFeed{
  background-image: url("../img/IGEMINI_couleur.png");
  background-repeat: no-repeat;
  background-size: 95%;
  position: absolute;
  right:10px;
  left: auto;
  top: 10px;
  bottom: auto;
  width: 10%;
  height: inherit;
}

.bg-lightyellow{
  background-color: #F5E9C3;
}

.bg-lightblue{
  background-color: #E2E5EE;
}

div.slide-background.bg-lightpurple{
    background-color: #ead1dc
}

div.slide-background.bg-darkyellow{
    background-color: #edd690
}

div.slide-background.bg-darkpurple{
    background-color: #d9d2e9ff
}
.vertical_padding{
  padding-top: 2px;
  padding-bottom: 2px;
}

.reveal .small_text{
  font-size: .5em;
}

.reveal .medium_text{
  font-size: .7em;
}

.align-item{
  -ms-flex-align: center !important;
  align-items: center !important;
}

.postopleft{
 left: 0; /* new */
 top: 0; /* new */
 position: absolute; /* new */
}
.titre-savoirplus{
 margin-left:250px;
 text-align:left;
}

.texte-savoirplus{
 margin-top:80px;
}

.titre-saviezvous{
  position: absolute;
  top: -250px;
  left: 350px;
  border: 3px solid #edd690;
  background: #edd690;
  text-justify;
  font-family: Arial Narrow;
}

.texte-saviezvous{
 font-family: Arial Narrow;
 font-size: 86px;
}

div.slide-background.bordure {
 border: 15px solid #edd690;
}

.reveal .slides section .fragment.highlight-green.visible {
		color: #429c27;
}

div.slide-background.bgastro1 {
  background-image: url('../img/astro1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.posastro{
  margin-top: 15rem;
  margin-left: -15rem;
  border: 3px solid #E2E5EE;
  border-radius: 25px;
  background: #E2E5EE;
  padding: 20px;
  width: 500px;
  height: 400px;
}
